@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

body,
div.log_link,
td.link,
td.selflink,
a.rss_logo {
  font-family: "Inter", system-ui, sans-serif;
}

div.page_body,
div.title_text,
table.diff_tree,
td.sha1,
td.pre,
div.pre,
div.diff,
td.mode,
td.size,
div.readme code {
  font-family: "Source Code Pro", ui-monospace, monospace;
}

body {
  font-size: 16px;
  min-inline-size: min(100% - 22px, 1440px);
  inline-size: fit-content;
  margin-inline: auto;
}

table.project_list,
table.shortlog,
table.tags,
table.heads,
table.tree,
table.history,
table.commit_search,
table.search {
  inline-size: 100%;
}

table.project_list {

  & th,
  td {
    line-height: 2;
    padding-block: 8px;
    padding-inline: 4px 16px;
  }
}

/* Gitweb replaces all spaces in commit descriptions (log) with &nbsp; which will not wrap by default. */
div.log,
div.log_body,
div.page_body,
div.readme {
  overflow-wrap: break-word;
  /* Otherwise body will stretch to fit longest line. */
  max-inline-size: min(100dvi - 38px, 1440px);
}

div.readme {
  & :not(pre) code {
    border: 1px solid transparent;
    border-radius: 4px;
    background: hsl(0deg 0% 95%);
    padding: 1px 3px 2px;
    hyphens: none;
  }

  & li {
    margin-block: 4px;

    & code {
      font-size: 0.9rem;
    }
  }

  & pre {
    padding: 8px 12px;
  }

  & table {
    border-collapse: collapse;
  }

  & th,
  & td {
    padding: 8px;
    border: 1px solid hsl(216deg 50% 10% / 0.5);
  }

  & tr:nth-child(even) {
    background-color: hsl(216deg 50% 97% / 0.45);
  }
}

div.title_text {
  display: flex;
  align-items: center;
}

div.log_link {
  width: unset;
}

div.log_body {
  padding: 8px;
}

td.link,
td.selflink {
  font-size: 80%;
}

td.selflink {
  width: 0;
}

td.pre,
div.pre,
div.diff {
  font-size: 14px;
}